.idea
application.properties
/client/src/script.py
/client/src/jdbc_s3.py
/src/test/resources/test_json.py
/client/src/main/resources/test_json.py
/client/src/main/script.py
/client/src/main/test_json.py
/client/target/**
